<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <property name="APP_NAME" value="center-web" />

    <property name="level" value="${logLevel:-info}" />
    <property name="tag" value="${tags:-default}" />
    <property name="the3rdLevel" value="${the3rdLevel:-WARN}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %5level %6relative --- [%15thread] [%-40logger{40}] [%C:%L] : [%X{traceId}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${level}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="${the3rdLevel}" />
    <logger name="com.alibaba" level="${the3rdLevel}" />
    <logger name="org.apache" level="${the3rdLevel}" />

</configuration>
